.banner-text{
    top: 68%;
}
.course-slider{
    margin-top: 0;
}

.course-beginner{
    padding: 60px 0;
/*    background: #F5F9FF;*/
}
.course-beginner-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-beginner-head-left{
    width: 38%;
}
.course-beginner-head-left h2{ 
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #051445;
    margin: 0;
    padding: 0;
    font-family: 'Philosopher', sans-serif;
}
.course-beginner-head-left p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #9EA1AC;
    margin: 5px 0 0 0;
    padding: 0;
}
.view-all button{
    width: 138px;
    height: 45px;
    border: 1px solid #165CC2;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #051445;
    background: none;
    border-radius: 25px;
    outline: 0;
}

.watched-video-list{
    margin-top: 20px;
}
.watched-video-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.watched-video-box:hover{
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.09);
}

.watched-video-box-text{
    padding: 18px 20px;
    position: relative;
}
.rating-list{
    position: absolute;
    right: 15px;
    top: 23px;
}
.rating-list button{
    background: none;
    border: none;
    padding: 0;
}
.watched-video-box-img img{
    width: 100%;
    height: 10rem;
}
.watched-video-box-text h5{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #021B77;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    font-family: 'Philosopher', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.watched-video-box-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: #051445;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.2rem;
}
.watched-video-box-text p span{
    color: #9EA1AC;
}
.price-value{
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #021B77;
    font-family: 'Philosopher', sans-serif;
}
.yamas-section{
    background: #fff;
    padding-bottom: 0;
}
.loadmore-section{
    text-align: center;
}
.loadmore-section button{
    width: 165px;
    height: 52px;
    background: linear-gradient(95.04deg, #165CC2 6.03%, #021B77 96.11%);
    border-radius: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: 0;
    border: none;
    margin-top: 30px;
}
.new-release{
    background: #F5F9FF;
}
.player-section img{
    width: 100%;
}

@media(max-width:770px){
    .course-beginner-head{
        flex-direction: column;
    }
    .course-beginner-head-left{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .course-beginner{
        padding: 30px 0;
    }
    .course-beginner-head-left h2{
        font-size: 22px;
    }
    .view-all button{
        height: 45px;
    }
    .watched-video-box-text h5{
        font-size: 18px;
    }
}





.video-track-section{
    background: none;
}
.video-first{
    margin-left: auto;
}
.video-tag{
    left: -166px;
}
.video-second{
    left: 0;
    right: auto;
}
.video-second .video-tag{
    right: -166px;
    left: auto;
}
.video-pose:before{
    background: url(./../../images/about-design.png) no-repeat center center;
    width: 325px;
    height: 250px;
   bottom: -209px;
    left: -101px;
    top: auto;
}
.video-track-text h3{
    color: #051445;
}
.big-video{
    border-radius: 20px;
    overflow: hidden;
}
.big-video img{
    max-width: 100%;
}
.video-track-text{
    position: relative;
}
.video-track-text:before{
    position: absolute;
    right: -60px;
    bottom: -30px;
    background: url(./../../images/about-circle.png) no-repeat center center;
    width: 317px;
    height: 129px;
    content: "";
}


@media(max-width:767px){
    .video-tag{
        left: 0;
    }
    .video-second .video-tag{
        right: 0;
    }
    .video-track-text{
        margin-top: 25px;
    }
}
