/*category-section*/
.category-section{
    padding: 70px 0 60px;
}

.feature-blog-slider{
    margin-top: 25px;
    position: relative;
}
.featured-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 25px 0;
}
.featured-box-img{
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.featured-box-text{
    padding: 26px 24px;
}
.featured-box-text h4{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #051445;
    margin: 0;
    padding: 0;
}
.featured-box-text h5{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #021B77;
    margin:18px 0 0 0;
    padding: 0;
    font-family: 'Philosopher', sans-serif;
}
.featured-box-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #9EA1AC;
    margin:14px 0 0 0;
    padding: 0;
}


.feature-blog-slider .owl-nav.disabled{
    display: block;
}
.feature-blog-slider .owl-nav .owl-prev{
    background: url(./../../images/prev-slider.png) no-repeat center center!important;
    width: 40px;
    height: 40px;
    outline: 0;
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translate(0, -50%);
}
.feature-blog-slider .owl-nav .owl-prev span, .feature-blog-slider .owl-nav .owl-next span{
    display: none;
}
.feature-blog-slider .owl-nav .owl-next{
    background: url(./../../images/next-slider.png) no-repeat center center!important;
    width: 40px;
    height: 40px;
    outline: 0;
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translate(0, -50%);
}