$column-width: 480px;
$gutter-width: 20px;

.app {
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.player-wrapper {
  width: 100%;
  height: 100vh;
}

.react-player {
  margin-bottom: 0px;
  padding: 2.5rem;
}

.faded {
  color: rgba(0, 0, 0, .5);
}

